button{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: none;
    background-color: #454545;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
.oper{
    background-color: rgb(196, 127, 23);
}
.oper:hover{
    background-color: rgb(175, 132, 62);
}
button:hover{
    background-color: #96968e;
}
button:active{
    background-color: #737373bf;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}
#calculator{
font-family: Arial, Helvetica, sans-serif;
background-color: black;
border-radius: 15px;
max-width: 500px;
overflow: hidden;

}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: #454545;
    color: white;
}
body{
    border: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}