PORT=5000
MONGO_URI=MONGO_URI=mongodb+srv://nayanachandra631_db_user:wR5Vr0xTmAkAh3re@cluster0.y8ndqdf.mongodb.net/videocollab?appName=Cluster0
JWT_SECRET=replace_with_a_long_random_string
JWT_REFRESH_SECRET=replace_with_another_long_random_string
CLIENT_URL= http://localhost:5174
