<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">
    <title>Admin Dashboard</title>
</head>
<body>

<h1>Admin Dashboard</h1>

<h2>Total Students : 120</h2>

<h2>Present Today : 95</h2>

<h2>Absent Today : 25</h2>

<table border="1">

<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Status</th>
</tr>

<tr>
    <td>1</td>
    <td>Rahul</td>
    <td>rahul@gmail.com</td>
    <td>Present</td>
</tr>

<tr>
    <td>2</td>
    <td>Priya</td>
    <td>priya@gmail.com</td>
    <td>Present</td>
</tr>

</table>

</body>
</html>